<% include ./partials/header %>
<% include ./partials/menuComponent %>
    <div class="container text-white">
        <div class="jumbotron text-center peach-gradient">
            <h1 class="display-3"><%=source.name%></h1>
        </div>
    </div>
<div class="container p-5">
    <div class="ui two column grid">
        <% data.articles.forEach(function(item){ %>
        <div class="eight wide column">
            <div class="ui segment unique-color-dark text-white p-3" >
                <div class="mb-3">
                    <h3><%=item.title%></h3>
                </div>
                <div class="mt-3">
                    <img class="ui image rounded" src="<%=item.urlToImage%>">
                </div>
                <div class="mt-3">
                    <h4 class=""><%=item.description%></h4>
                </div>
                <hr/>
                <div class="mt-3">
                    <h5 class=""><%=item.content%></h5>
                </div>
                <div class="mt-3">
                    <a class="btn btn-outline-warning" href="<%=item.url%>">full cover</a>
                </div>
            </div>
        </div>
       <% }) %>
       </div>
</div>
<% include ./partials/footer %>